name: desafio-fc-ci-pipeline-sonar

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "develop", "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use desafio-fc-ci-pipeline-sonar 18.12.1
      uses: actions/setup-node@v3
      with:
        node-version: 18.12.1
    # - run: npm ci
    # - run: npm run build --if-present
    - run: npm test